<!DOCTYPE html>
	<head>
		<title>C&C Server</title>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link 
		rel  = "stylesheet"
		type = "text/css"
		href = "{{ url_for('static', filename = 'styles/execute.css') }}"
		  >
	</head>
	<body class="container">
	<div>
		<h1>	<a href="/">E N T R O P Y</a>	</h1>
		</div>
		<div id="d2">
			<button type="submit"> <a href="/agents">Agents</a></button>
	</div>
	<br>

	<form id ="f1" action="http://127.0.0.1:5000/{{ name }}/execute" method="POST">
		<p>{{ name }}</p>
		<p id="p1">Enter Commands below to Execute <p> 
		<input id="i1" type="text" name="command">

			<button type="submit"> Execute</button>
	</form>
	<textarea id ="t1" cols="100" rows="20">{{cmdoutput}}</textarea>
</body>
</html>