<!DOCTYPE html>
<head>
	<title>C&C Server</title>
	<meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link 
	rel  = "stylesheet"
	type = "text/css"
	href = "{{ url_for('static', filename = 'styles/index.css') }}"
 	 >
</head>
<body class="container">
	<div class="div1">
		<h1> E N T R O P Y 'S  C & C</h1>
		<br><br>
		<div id="d2">
			<button type="submit">
				<a href="/agents">Agents
			</button>
		</div>
	</div>
</body>
</html>